body {
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  text-align: center;
  background-color: slategray;
  font-family: cursive;
}
html{
  overflow: hidden;
}

.form {
  background-color: white;
  padding: 200px;
  box-shadow: 4px 4px 15px rgba(218, 215, 46, 0.377);
  border-radius: 20px;
  margin: 5px;
}

.input {
  display: block;
  border: 3px solid black;
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  color: rgb(23, 228, 23);
}

.input::placeholder {
  color: rgb(139, 139, 139);
  font-family: cursive;
}

.submit {
  background-color: green;
  color: white;
  border: 2px solid black;
  display: inline-block;
  width: 40%;
  padding: 10px;
  font-size: 20px;
  font-family: cursive;
  margin: 20px 15px ;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.submit:hover {
  filter: brightness(0.9);
  cursor: pointer;
  color: yellow;
}

.score {
  color: green;
  text-align: right;
  font-size: 25px;
}

.reset{
  background-color: red;
  color: white;
  border: 2px solid black;
  display: inline-block;
  width: 40%;
  padding: 10px;
  font-size: 20px;
  font-family: cursive;
  margin: 20px 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.reset:hover {
  filter: brightness(0.9);
  cursor: pointer;
  color: blue;
}

@media only screen and (max-width: 800px) {
  body {
    scale: 25%;
    /* width: 100vw; */
  }
  .form {
    scale: 300%;
    width: 100vw;
    height: 100vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .score {
    margin-right: 50px;
  }
  .input {
    width: 50%;
    justify-self: center;
  }

  /* #question{
    font-size: large;
    margin: 0;
    padding: 0;
  }
  .input {
    font-size: 10px;
  } 
   
  .submit {
    font-size: 10px;
  }
  
  .reset{
    font-size: 10px;
  } */
}